.wrapperSec4 {
    width: 100%;
    height: 3230px;
    position: relative;
    margin-top: 950px;
}

.box1 {
    position: absolute;
    background-color: white;
    border-radius: 2rem;
    width: 400px;
    height: 400px;
    top: 130px;
    left: 130px;
}

.box2 {
    position: absolute;
    background-color: rgb(243, 162, 162);
    border-radius: 2rem;
    width: 400px;
    height: 400px;
    top: 550px;
    right: 130px;
}

.text {
    position: absolute;
    top: 600px;
}

.text::before {
    content: 'Secure';
    font-size: 500px;
    color: white;
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.text2 {
    position: absolute;
    top: 850px;
}

.text2::before {
    content: 'Secure';
    font-size: 500px;
    color: white;
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.text3 {
    position: absolute;
    top: 1700px;
    right: 1000px;
}

.text3::before {
    content: 'Contain';
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 300px;
    color: rgb(250, 146, 48);
    position: absolute;

}

.text4 {
    position: absolute;
    top: 2050px;
    right: 1000px;
}

.text4::before {
    content: 'Protect';
    font-size: 500px;
    color: #ffffff;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}

.line-long {
    background-color: white;
    width: 3px;
    height: 3600px;
    position: absolute;
    bottom: -1500px;
    left: 250px;
}

.line-long::before {
    content: "";
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    right: -40px;
    opacity: .4;
    bottom: -28px;
    border: 2px solid rgb(159, 159, 159);
    box-shadow: rgb(255, 255, 255) 0px 0px 20px 20px;
}

.line-long::after {
    content: "●";
    font-size: 59px;
    color: white;
    position: absolute;
    right: -28px;
    bottom: -29px;


}

.circle1 {
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
}

.monsAni1 {
    width: 400px;
    position: absolute;
    left: 120px;
    top: 80px;
}

.monsAni2 {
    width: 700px;
    position: absolute;
    left: 0;
    top: 1300px;
}

.eff1 {
    width: 100%;
    position: absolute;
    height: 100%;
    background-size: contain;
    top: 0;
    right: 120px;
    background-repeat: no-repeat;
    background-image: url(../assets/effects/eff1.png);
}

.eff2 {
    width: 100%;
    position: absolute;
    height: 100%;

    top: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../assets/effects/eff2.png);
}

.eff3 {
    width: 100%;
    position: absolute;
    height: 100%;

    top: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../assets/effects/eff3.png);
}

.eff4 {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 1200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../assets/effects/eff4.png);
}

.eff5 {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 2100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../assets/effects/eff5.png);
}

.bg-line1 {
    position: absolute;
    width: 150%;
    background-color: white;
    height: 400px;
    left: -250px;
    top: 500px;
    opacity: .5;
    transform: rotate(-20deg);
}

.bg-line2 {
    position: absolute;
    width: 150%;
    background-color: #292929;
    height: 400px;
    left: -250px;
    top: 1500px;

    transform: rotate(-20deg);
}

.ufo1 {
    background-image: url(../assets/background-layer/object-space/planet1.png);
    position: absolute;
    top: 2400px;
    left: 100px;
    width: 500px;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;

}

@media (max-width: 1500px) {
    .circle1 {

        width: 200px;
        height: 200px;

    }

    .box1 {
        width: 300px;
        height: 300px;
    }

    .monsAni1 {
        width: 300px;
        top: 129px;
        left: 135px;
    }

    .box2 {
        width: 300px;
        height: 300px;
    }

    .bg-line1 {
        height: 257px;
    }

    .text::before {
        font-size: 383px;

    }

    .text2 {
        top: 800px;
    }

    .text2::before {
        font-size: 383px;
    }

    .monsAni2 {
        display: none;
    }

    .text3 {
        top: 1231px;
    }

    .text3::before {
        font-size: 300px;
    }

    .text4 {
        top: 1500px;
    }

    .text4::before {
        font-size: 400px;
    }
}

@media (max-width: 998px) {
    .danger {
        left: -800px;
    }

    .danger2 {
        left: -150px;
    }

    .line-long {
        left: 180px;
    }

    .text2 {
        top: 750px;
    }

    .text2::before,
    .text::before {
        font-size: 300px;
    }

    .text3 {
        right: 765px;
    }

    .text3::before {
        font-size: 200px;
    }

    .text4 {
        right: 700px;
    }

    .text4::before {
        font-size: 300px;
    }
}

@media (max-width: 578px) {
    .container-body p {
        font-size: 20px !important;
    }

    .danger {
        font-size: 140px !important;
        top: 1847px;
        left: -600px;
    }

    .danger2 {
        font-size: 140px !important;
        left: -210px;
        top: 1632px;

    }

    .circle1 {
        width: 120px;
        height: 120px;
    }

    .box1 {
        width: 300px;
        height: 300px;
        left: 40px;
    }

    .box2 {
        width: 300px;
        height: 300px;
        left: 320px;
    }

    .monsAni1 {
        width: 262px;
        left: 60px;
    }

    .bg-line1 {
        width: 100%;
        left: 0;
    }

    .text::before,
    .text2::before {
        font-size: 160px;
    }

    .text2 {
        top: 680px;
    }
    .text3{
        right: 330px;
        top: 888px;
    }
    .text3::before{
        font-size: 100px;
    }
    .text4{
        top: 1100px;
        right: 250px;
    }
    .text4::before{
        font-size: 200px;
    }
    .bg-line2{
        width: 100%;
        left: 0;
    }
    .ufo1{
        left: -50px;
    }
    .line-long{
        left: 92px;
    }
}